:root {
    --outer-screen-color: #011627;
    --outer-screen-border: 1px solid #6c757d;
    --led-screen-color: #00cbf4; 
    --led-screen-glow: 0 0 10px #02d5ff;
    --white-text: white;
    --black-text: black;
    --bg-black: black;
}

#brand-name {
    font-size: 1.3em;
    text-align: right;
    user-select: none;
}

.brand-logo-one {
    font-family: "Noto Sans Display", sans-serif;
}

.brand-logo-two {
    font-family: "Paytone One", sans-serif;
}

.logo-box {
	background: var(--bg-black);
    padding: 0 5px;
    margin-left: 3px;
    border-radius: 5px;
}

#controls {
    display: flex;
    width: 100%;
    height: 30%;
}

#volume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

#make-model {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: 0 20px;
}

#brand {
    height: 35px;
    width: 100%
}

#screen-border {
    height: calc(100% - 35px);
    width: 100%;
}

#screen {
    background-color: var(--outer-screen-color);
    width: 100%;
    height: 80%;
    border-radius: 10px;
    border: var(--outer-screen-border);
}

#display {
    background-color: var(--led-screen-color);
    width: 80%;
    height: 55%;
    margin: 5px auto 0 auto;
    padding: 5px;
    border-radius: 5px;
    box-shadow: var(--led-screen-glow);
}

#model-name {
    padding-top: 7px;
}

#volume-indicator {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    width: 100%;
    height: 35%;
}

#volume-led-label {
    display: inline-block;
    width: 50px;
}

#volume-bars {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.volume-bar {
    background-color: var(--black-text);
    width: 6%;
    height: 100%;
    margin: 0 1px;
}

#sound-played {
    font-size: 1.5em;
    height: 65%;
    padding-top: 5px;
}

.text-white {
    color: var(--white-text);
}

.text-black {
    color: var(--black-text);
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-digital {
    font-family: "Digital", sans-serif;
}

.text-xs {
    font-size: 0.6em;
}

.text-sm {
    font-size: 0.7em;
}